# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
*.egg-info/
build/
dist/

# Optional: don't upload local FAISS index if you rebuild it during deployment
# data/faiss.index
# data/metadata.pkl